@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;

}
body{
  /* min-height: 100vh; */
  background-image: url("back.webp");
background-size: 100vw;


}


section{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}
.image{
  position: relative;
  width: 100%;
  height: 100%;

}

.image img{
  position: absolute;
  top: 0;
  left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   
}
.login{
  /* align-items: center; */
  align-content: center;
}
.flex{
  left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  align-content: center;
  margin-left: 30%;
}
.loginbox{
  width: 70%;
  background: white;
  opacity: 0.8;
  border-radius: 20px;
  padding: 20px;
  align-items: center;
}
.loginbox h2{
color: #607d8b;
font-weight: 600;
font-size: 1.5em;
text-transform: uppercase;
margin-bottom: 20px;
border-bottom: 4px solid #2b1055;
display: inline-block;
letter-spacing: 1px;
}
.inputbox{
  margin-bottom: 20px;

}
.inputbox span{
  font-size: 15px;
  margin-bottom: 5px;
  display: inline-block;
  color: #607d8b;
  font-weight: 300;
letter-spacing: 1px;

}
.inputbox input{
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607d8b;
  border-radius: 20px;

}
.button button{
  width: 30%;
  padding: 10px 20px;
  outline: none;
  cursor: pointer;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  border: 1px solid #607d8b;
  border-radius: 20px;
  background: #2b1055;
  color: #fff;
}
.button button:hover{
  background: #1b0a36;
}
.rememberme{
  margin-bottom: 10px;
  color: #607d8b;
  font-weight: 400;
  font-size: 14px;
}
.inputbox p{
  color: #607d8b;
}
.inputbox p a{
  color: #2b1055;
}
@media (max-width:768px) {
  .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.9;

}
}
